{% extends "FSJ/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans "Set Password" %}
{% endblock %}

{# This page notifies the user that an email has been sent to them with a link to the password reset. #}

{% block content %}
	<div class="center-content">
		<p>
		 	{% trans "An e-mail has been sent to the University of Alberta e-mail that you have entered."%}
		</p>
		<p>
		 	{% trans "If you have not recieved the e-mail, please assure that the e-mail you have entered is in fact yours, otherwise check your spam folder."%} 
		</p>
		<p>
		 	{% trans "Please follow the link in your email or return to the login page from" %} <a href="/login"> {% trans "here" %} </a>
		</p>
	</div>
{% endblock%}