{% extends "FSJ/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans "Set Password" %}
{% endblock %}

{% block content %}
	<div class='center-content'>
		<p>
			{% trans "Please enter your University of Alberta e-mail." %}
		</p>
		<p>
		 	{% trans "A link to set your new password will be sent to this e-mail." %}
		</p>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-success" type="submit"> {% trans "Send Password Link" %} </button>
		</form>
	</div>
{% endblock %}