{% extends "FSJ/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans "New Password" %}
{% endblock %}

{# This page is where the user actually enters their new password after being linked here from an email send when a reset password is requested. #}

{% block content %}
	{% if validlink %}
		<form method="post">
			{% csrf_token %}
			{{ form.as_p}}
			<button type="submit">Change password</button>
		</form>
	{% else %}
		<p>
			The password set link is invalid. Please request a new password link <a href="{% url 'reset_password' %}">here</a>.
		</p>
	{% endif %}
{% endblock %}