{% extends "FSJ/base.html" %}
{% load i18n %}

{% block heading %}
    {# Translators: Register page header #}
    {% trans "Register" %}
{% endblock %}

{% block content %}
	<div class="center-content">
		<p>
			CCID
		</p>
		<form action='{{ url }}' method='post'>
			{% csrf_token %}
			{% for field in form%}
       		<div>
                <div>
                    {% if field.label %}
                        {{field.label_tag}}
                    {% endif %}
                </div>
                <div {% if field.errors %}class='has-error'{% endif %}>
                    {{ field }}
                </div>
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
			{% endfor %}
			<button class="btn btn-success" type="submit">{% trans "Send Registeration" %}</button>
		</form>
	</div>
{% endblock%}