{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}
{% load widget_tweaks %}
{% load fsj_tags %}

{# A page for the adjudicator to view a list of awards as well as providing adding, deleting, and editing functionality #}
{# This page is separate from the template for displaying awards to sutdents due to the added functionality #}
{% block heading %}
    {# Translators: Awards page home label #}
    {% trans "Awards" %}
{% endblock %}

{% block content %}
    <body>
        <div class='center-content'>   
            <table class="table table-bordered table-striped table-hover" align="center">
                <tr>
                    {# Translators: Award name header in awards table #}
                    <th>{% trans "Award" %}</th>
                    {# Translators: Award description header in awards table #}
                    <th class="desc-column">{% trans "Description" %}</th>
                    {# Translators: Award start date header in awards table #}
                    <th>{% trans "Start Date" %}</th>
                    {# Translators: Award end date header in awards table #}
                    <th>{% trans "End Date" %}</th>
                    {# Translators: Documents required header in awards table #}
                    <th>{% trans "Doc?" %}</th>
                    {# Translators: Award is active header in awards table #}
                    <th>{% trans "Active?" %}</th>
                    {# Translators: Awards application header in awards table #}
                    <th>{% trans "Applications" %}</th>
                </tr>
                {% for committee in committee_list %}
                    <tr><th class="alternate-table-heading" colspan=7>{{ committee.committee_name }}</th></tr>
                    {% for award in committee.awards.all %}
                        <tr>
                            
                            <td>{{award.name }}</td>
                            <td>{{award.description|linebreaks }}</td>
                            <td class='date-column'>{{award.start_date|date:"Y-m-d"}}</td>
                            <td class='date-column'>{{award.end_date|date:"Y-m-d"}}</td>
                            <td>
                                <input type="checkbox" disabled {% if award.documents_needed %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" disabled {% if award.is_active %}checked{% endif %}>
                            </td>
                            
                            {% if award.applications.count == 0 %}
                                {# Translators: No applications message in adjudicator awards list #}
                                <td>{% trans "No Applications" %}</td>
                            {% else %}    
                                <td><a href="/awards/applications/?award_id={{ award.awardid }}">{% get_review_status %}</a></td>
                            {% endif %}
                            
                        </tr>
                    {% endfor %}
                {% endfor %}
                
            </table>
        </div>
    </body>
{% endblock %}
