{% extends "FSJ/base_with_banner.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block heading %}
    {{ award.award_name }}
{% endblock %}

{% block content %}
    <div class='center-content'>
        <form action ="/coord_awardslist/{{ award.awardid }}/applications/action/" method="POST" >
            {% csrf_token %}
            <table class="table table-bordered table-striped table-hover" align="center">
                <tr>
                    <th class="select-column"><input type="checkbox" onClick="toggle(this);"/> {% trans "Select" %}</th>
                    <th>{% trans "Student" %}</th>
                    <th>{% trans "CCID" %}</th>
                    <th>{% trans "Student ID" %}</th>
                    <th>{% trans "Program" %}</th>
                    <th>{% trans "Year" %}</th>
                    <th>{% trans "GPA" %}</th>
                    <th>{% trans "Is Submitted?" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
                {% for application in application_list %}
                    <tr>
                        <td><input type="checkbox"  name="applicationaction" value="{{application.application_id}}" ></td>
                        <td><a href="/view_student?ccid={{ application.student.ccid }}&awardid={{application.award.awardid}}">{{ application.student.get_name }}</a></td>
                        <td>{{ application.student.ccid }}</td>
                        <td>{{ application.student.student_id }}</td>
                        <td>{{ application.student.program }}</td>
                        <td>{{ application.student.year }}</td>
                        <td>
                            {% if application.student.gpa %} 
                                {{ application.student.gpa }}
                            {% endif %}
                        </td>
                        <td><input type="checkbox" disabled {% if application.is_submitted %}checked{% endif %}></td>
                        <td><a href="/view_application?application_id={{ application.application_id }}">{{ application.get_status }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <a class="btn btn-success" role="button" href="/coord_awardslist/">{% trans "Return to Awards" %}</a>
            <a role="button" class="btn btn-action" href='archive/'>{% trans "View Archive" %}</a>
            </br></br>
            <button class="btn btn-success" type="submit", name="_archive">{% trans "Archive Application(s)" %}</button>
            <button class="btn btn-danger" type="submit" name="_delete">{% trans "Delete Application(s)" %}</button>
        </form>
    </div>
{% endblock %}