{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}
{% load widget_tweaks %}

{# A page for the coordinator to view a list of awards as well as providing adding, deleting, and editing functionality #}
{# This page is separate from the template for displaying awards to sutdents due to the added functionality #}
{% block heading %}
    {# Translators: Awards page home label #}
    {% trans "Awards" %}
{% endblock %}

{% block content %}
    <body>
        <div class='center-content'>
            <form method="get">
              <form method="get">
                <div class = "well">
                  <div class="row">
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.award_name.label_tag }}
                      {% render_field filter.form.award_name class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.description.label_tag }}
                      {% render_field filter.form.description class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.value.label_tag }}
                      {% render_field filter.form.value class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.programs.label_tag }}
                      {% render_field filter.form.programs class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.years_of_study.label_tag }}
                      {% render_field filter.form.years_of_study class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.start_date.label_tag }}
                      {% render_field filter.form.start_date class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.end_date.label_tag }}
                      {% render_field filter.form.end_date class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.documents_needed.label_tag }}
                      {% render_field filter.form.documents_needed class="form-control" %}
                    </div>
                    <div class = "form-group col-sm-4 col-md-3">
                      {{ filter.form.is_active.label_tag }}
                      {% render_field filter.form.is_active class="form-control" %}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-search"></span> 
                        {# Translators: Search button for filtering #}
                        {% trans "Search" %}    
                </button> 
                <a role="button" class="btn btn-success" href="{{ return_url }}">{% trans "Clear Filters" %}</a>
                </div>
              </form>
            </form>
            <form action="/coord_awardslist/action/" method="POST">
            {% csrf_token %}
            
                {% if FSJ_user.user_class == "Coordinator"%}
                    {# Translators: Button to activate selected awards #}
                    <button class = "btn btn-action" type="submit" name="_activate">{% trans "Activate award(s)" %}</button>
                    {# Translators: Button to deactivate selected awards #}
                    <button class = "btn btn-action" type="submit" name="_deactivate">{% trans "Deactivate award(s)" %}</button> <br/>
                    <br/>
                    
                    {# Translators: Button to add award #}
                    <a role="button" class="btn btn-success" href='/coord_awardslist/add'>{% trans "Add award" %}</a>
                    {# Translators: Button to delete selected awards #}
                    <button class="btn btn-danger" type="submit" name="_delete">{% trans "Delete award(s)" %}</button>    
                {% endif %}
                
                
                <table class="table table-bordered table-striped table-hover" align="center">
                    <tr>
                    
                        {% if FSJ_user.user_class == "Coordinator"%}
                            {# Translators: Select header in awards table #}
                            <th class="select-column"><input type='checkbox' onClick="toggle(this);"/></th>
                        {% endif %}

                        {# Translators: Award name header in awards table #}
                        <th>{% trans "Award" %}</th>
                        {# Translators: Award description header in awards table #}
                        <th class="desc-column">{% trans "Description" %}</th>
                        {# Translators: Award start date header in awards table #}
                        <th>{% trans "Start Date" %}</th>
                        {# Translators: Award end date header in awards table #}
                        <th>{% trans "End Date" %}</th>
                        {# Translators: Award is active header in awards table #}
                        <th>{% trans "Active?" %}</th>
                        
                        {% if FSJ_user.user_class == "Coordinator"%}
                            {# Translators: Award edit header in awards table #}
                            <th>{% trans "Edit" %}</th>
                        {% endif %}
                        {# Translators: Awards application header in awards table #}
                        <th>{% trans "Applications" %}</th>
                    </tr>
                    {% for award in filter.qs %}
                        <tr>
                            {% if FSJ_user.user_class == "Coordinator"%}
                                <td><input type="checkbox"  name="awardaction" value="{{award.awardid}}" > </td>
                            {% endif %}
                            
                            <td>{{award.award_name }}</td>
                            <td>{{award.description|linebreaks }}</td>
                            <td>{{award.start_date}}</td>
                            <td>{{award.end_date}}</td>
                            <td>
                                <input type="checkbox" disabled {% if award.is_active %}checked{% endif %}>
                            </td>
                            {% if FSJ_user.user_class == "Coordinator"%}
                                {# Translators: Edit link in coordinator awards list #}
                                <td><a href="/coord_awardslist/{{ award.awardid }}/">{% trans "Edit" %}</a></td>
                                {% if get_review_status == "No Applications" %}
                                    {# Translators: No applications message in coordinator awards list #}
                                    <td>{% trans "No Applications" %}</td>
                                {% else %}
                                    <td><a href="/coord_awardslist/{{ award.awardid }}/applications/">{{ get_review_status }}</a></td>
                                {% endif %} 
                            {% endif %}
                            
                            {% if FSJ_user.user_class == "Adjudicator" %}
                                {% if get_review_status == "No Applications" %}
                                    {# Translators: No applications message in adjudicator awards list #}
                                    <td>{% trans "No Applications" %}</td>
                                {% else %}    
                                    <td><a href="/adj_awardslist/{{ award.awardid }}/applications/">{{ get_review_status }}</a></td>
                                {% endif %}
                            {% endif %}
                            
                        </tr>
                    {% endfor %}
                </table>
                
                {% if FSJ_user.user_class == "Coordinator"%}
                    {# Translators: Button to activate selected awards #}
                    <button class = "btn btn-action" type="submit" name="_activate">{% trans "Activate award(s)" %}</button>
                    {# Translators: Button to deactivate selected awards #}
                    <button class = "btn btn-action" type="submit" name="_deactivate">{% trans "Deactivate award(s)" %}</button> <br/>
                    <br/>
                    
                    {# Translators: Button to add award #}
                    <a role="button" class="btn btn-success" href='/coord_awardslist/add'>{% trans "Add award" %}</a>
                    {# Translators: Button to delete selected awards #}
                    <button class="btn btn-danger" type="submit" name="_delete">{% trans "Delete award(s)" %}</button>    
                {% endif %}
            </form>
        </div>
    </body>
{% endblock %}
