{% extends "FSJ/base.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{% block banner %}
    <div class="banner">
        {% if FSJ_user.user_class == "Student" or FSJ_user.user_class == "Adjudicator" %}
            <div>
                {# Translators: Home link on the main banner #}
                <a class="header" href='/home'>{% trans "Home" %}</a>
            </div>
        {% endif %}
        {% if FSJ_user.user_class == "Student" %}
            <div>
                {# Translators: History link on the main banner #}
                <a class="header" href='/student_awardhistory'>{% trans "History" %}</a>
            </div>
        {% endif %}
        {% if FSJ_user.user_class == "Coordinator" %}
            <div>        
                {# Translators: Awards link on the main banner #}
                <a class="header" href='/coord_awardslist'>{% trans "Awards" %}</a>
            </div>
            <div>        
                {# Translators: Students link on the main banner #}
                <a class="header" href='/studentlist'>{% trans "Students" %}</a>
            </div>
            <div>        
                {# Translators: Adjudicators link on the main banner #}
                <a class="header" href='/adjudicatorlist'>{% trans "Adjudicators" %}</a>
            </div>
            <div>        
                {# Translators: Committees link on the main banner #}
                <a class="header" href='/coord_committeeslist'>{% trans "Committees" %}</a>
            </div>
            <div>
                {# Translators: Programs link on the main banner #}
                <a class="header" href='/programs/list_programs'>{% trans "Programs" %}</a>
            </div>
            <div>
                {# Translators: Years of study link on the main banner #}
                <a class="header" href='/coord_yearslist'>{% trans "Years of study" %}</a>
            </div>
            <div>
                {# Translators: Applications link on the main banner #}
                <a class="header" href='/coord_applicationlist'>{% trans "Applications" %}</a>
            </div>
        {% endif %}
        {% if user.is_staff %}
            <div>
                {# Translators: Link on the main banner for the admin site #}
                <a class="header" href='../../admin'>{% trans "Admin" %}</a>
            </div>
        {% endif %}
        {% if FSJ_user.user_class == "Coordinator" or FSJ_user.user_class == "Adjudicator" or FSJ_user.user_class == "Student" %}
            <div>
                {# Translators: Profile link on the main banner #}
                <a class="header" href='/profile'>{% trans "Profile" %}</a>
            </div>
        {% endif %}
        <div id='logout'>
            {# Translators: Logout link on the main banner #}
            <a class="header" href='/logout'>{% trans "Logout" %}</a>
        </div>
    </div>
{% endblock %}
