{% load static %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# Set the language for the template and anything that extends this template based on the user's language preference #}
{% language FSJ_user.lang_pref %}
    <html>
        <head>
            <title>
                {# Translators: Main title #}
                {% trans "FSJ Awards" %}
            </title>
            {# Add CSS for styling #}
            <link rel="stylesheet" type="text/css" href="{% static 'FSJ/FSJ.css' %}">
        </head>
        {# Some generic sections to be exnteded in views #}
        <body>
        <div>
            <div>
                <h1>
                    {% block heading %}
                    {% endblock %}
                </h1>
            </div>
        </div>
        <div>
        {% block banner %}
        {% endblock %}
        <div>
            <div>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        </body>
    </html>
{% endlanguage %}