{% extends "FSJ/base_with_banner.html" %}
{% load i18n %}

{% block heading %}
    {# Translators: Student page header #}
    {% trans "Students" %}
{% endblock %}


{% block content %}
<body>
<div>
<form action="/studentlist/delete/" method="POST">
{% csrf_token %}
<table align = "center">
 <tr>
  {# Translators: Action header in student table #}
  <th>{% trans "Action" %}</th>
  {# Translators: CCID header in student table #}
  <th>{% trans "CCID" %}</th>
  {# Translators: First Name header in student table #}
  <th>{% trans "First Name" %}</th>
  {# Translators: Last Name header in student table #}
  <th>{% trans "Last Name" %}</th>
  {# Translators: Year of Study header in student table #}
  <th>{% trans "Year of Study" %}</th>
  {# Translators: Program header in student table #}
  <th>{% trans "Program" %}</th>
  {# Translators: View header in student table #}
  <th>{% trans "View" %}</th>
 </tr>
{% for student in student_list %}
    <tr>
     <td><input type="checkbox"  name="instance" value="{{student.ccid}}" >
     <td>{{ student.ccid }}</td>
     <td>{{ student.first_name }}</td>
     <td>{{ student.last_name }}</td>
     <td>{{ student.year }}</td>
     <td>{{ student.program }}</td>
     {# Translators: View button in student table #}
     <td><a href="/studentlist/{{ student.ccid }}/">{% trans "View" %}</a></td>
    </tr>
{% endfor %}
</table>
{# Translators: Button to delete selected students #}
<input class = "deletebutton" type="submit" name="delete" value={% trans "Delete student(s)" %} />
</form>

{# Translators: Button to add student #}
<button class = "addbutton" onclick="window.location.href='/studentlist/add/'">{% trans "Add student" %}</button>
</div>

</body>
{% endblock %} 