{% extends "FSJ/base_with_banner.html" %}
{% load i18n %}
{% load widget_tweaks %}

{# A page for the coordinator to view a list of all adjucicators as well as providing adding, deleting, and editing functionality #}

{% block heading %}
    {# Translators: Adjudicator page header #}
    {% trans "Adjudicators" %}
{% endblock %}
{% block content %}
    <body>
        <div class='center-content'>
          <form method="get">
            <div class = "well">
              <div class="row">
                <div class = "form-group col-sm-4 col-md-3">
                  {{ filter.form.ccid.label_tag }}
                  {% render_field filter.form.ccid class="form-control" %}
                </div>
                <div class = "form-group col-sm-4 col-md-3">
                  {{ filter.form.first_name.label_tag }}
                  {% render_field filter.form.first_name class="form-control" %}
                </div>
                <div class = "form-group col-sm-4 col-md-3">
                  {{ filter.form.last_name.label_tag }}
                  {% render_field filter.form.last_name class="form-control" %}
                </div>
              </div>
              <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                    {# Translators: Search button for filtering #}
                    {% trans "Search" %}
            </button> 
            <a role="button" class="btn btn-success" href='/adjudicators'>{% trans "Clear Filters" %}</a>
            </div>
          </form>
            <form action="/adjudicators/delete/" method="POST">
                {% csrf_token %}
                
                {# Translators: Button to add adjudicator #}
                <a role="button" class="btn btn-success" href='/adjudicators/add/'>{% trans "Add adjudicator" %}</a>
                {# Translators: Button to delete selected adjudicators #}
                <button class="btn btn-danger pull-right" type="submit" name="delete">{% trans "Delete adjudicator(s)" %}</button>
                
                <table class="table table-bordered table-striped table-hover" align="center">
                    <tr>
                        
                        <th class="select-column"><input type="checkbox" onClick="toggle(this);"/></th>
                        {# Translators: CCID header in adjudicator table #}
                        <th>{% trans "CCID" %}</th>
                        {# Translators: First Name header in adjudicator table #}
                        <th>{% trans "First Name" %}</th>
                        {# Translators: Last Name header in adjudicator table #}
                        <th>{% trans "Last Name" %}</th>
                        {# Translators: View header in adjudicator table #}
                        <th>{% trans "View" %}</th>
                    </tr>
                    {% for adjudicator in filter.qs %}
                        <tr>
                            <td><input type="checkbox"  name="instance" value="{{adjudicator.ccid}}" >
                            <td>{{ adjudicator.ccid }}</td>
                            <td>{{ adjudicator.first_name }}</td>
                            <td>{{ adjudicator.last_name }}</td>
                            {# Translators: Edit link in adjudicator table #}
                            <td><a href="/adjudicators/edit/?ccid={{ adjudicator.ccid }}">{% trans "Edit" %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {# Translators: Button to add adjudicator #}
                <a role="button" class="btn btn-success" href='/adjudicators/add/'>{% trans "Add adjudicator" %}</a>
                {# Translators: Button to delete selected adjudicators #}
                <button class="btn btn-danger pull-right" type="submit" name="delete">{% trans "Delete adjudicator(s)" %}</button>
            </form>
        </div>
    </body>
{% endblock %}