{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A page for the coordinator to view a list of years of study as well as providing adding, deleting, and editing functionality #}
{% block heading %}
    {# Translators: Years page home label #}
    {% trans "Years of Study" %}
{% endblock %}

{% block content %}
    <body>
        <div class='center-content'>
            <form action="/years/delete/" method="POST">
                {% csrf_token %}
                
                {# Translators: Button to add year #}
                <a role="button" class="btn btn-success" href='/years/add'>{% trans "Add year" %}</a>

                <table class="table table-bordered table-striped table-hover" align="center">
                    <tr>
                        {# Translators: Select header in years table #}
                        <th class="select-column"><input type="checkbox" onClick="toggle(this);"/></th>
                        {# Translators: Year header in years table #}
                        <th>{% trans "Year" %}</th>
                        {# Translators: Award edit header in years table #}
                        <th>{% trans "Edit" %}</th>
                    </tr>
                    {% for year in years_list %}
                        <tr>
                            <td><input type="checkbox"  name="todelete" value="{{year.id}}" > </td>
                            <td>{{year.year }}</td>
                            {# Translators: Edit link in coordinator years list #}
                            <td><a href="/years/edit/?year={{ year.id }}">{% trans "Edit" %}</a></td>
                        </tr>
                    {% endfor %}
                </table>

                {# Translators: Button to delete selected years #}
                <button class="btn btn-danger pull-right" type="submit" name="delete">{% trans "Delete year(s)" %}</button>
            </form>
        </div>
    </body>
{% endblock %}