{% extends "FSJ/base_with_banner.html" %}
{% load i18n %}

{% block heading %}
    {% trans "Application View" %}
{% endblock %}

{% block content%}
    <div class='center-content'>
        <br/>
        <div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div>
            {% trans "Description:" %} {{ award.description}} 
        </div>
        
        <div>
            {% trans "Value:" %} {{ award.value }}
        </div>
        
        <div>
            {% trans "Programs:" %} 
            {% if award.programs.all %}
                <ul>
                    {% for program in award.programs.all %}
                        <li>{{ program.name }} </li>
                    {% endfor %}
                </ul>
            {% else %}
                {# Translators: No program chosen for an award, on the list of awards table #}
                {% trans "N/A" %}
            {% endif %}
        </div>
        
        <div>
            {% trans "Years Of Study:" %}
            <ul>
                {% for year in award.years_of_study.all %}
                    <li>{{year}}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div>
            {% trans "Deadline:" %} {{ award.deadline }}
        </div>
        
        <div>
            {# Translators: Documents needed indicator on student application page #}
            {% trans "Documents:" %}
        </div>	
        {#TODO: View Document#}
    </div>
{% endblock%}