{% extends "FSJ/base_with_banner.html" %}
{% load i18n %}

{% block heading %}
        {{ award.award_name }}
        {% trans "Archive" %}
{% endblock %}

{% block content %}
        <div class='center-content'>
                <table class="table table-bordered table-striped table-hover" align="center">
                <tr>
                        <th>{% trans "Student" %}</th>
                        {# Translators: View header in student table #}
                         <th>{% trans "View" %}</th>
                </tr>
                {% for application in application_list %}
                        <tr>
                                <td><a href="/studentlist/{{ application.student.ccid }}/">{{ application.student.ccid }}</a></td>
                                <td><a href="/coord_awardslist/{{ award.awardid }}/applications/view/{{application.application_id}}/">{% trans "View"%}</a></td>
                        </tr>
                {% endfor %}
                </table>
        </div>
{% endblock %}