{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A page for the coordinator to view a list of committees as well as providing adding, deleting, and editing functionality #}
{# This page is separate from the template for displaying committees to sutdents due to the added functionality #}
{% block heading %}
    {# Translators: committees page home label #}
    {% trans "Committees" %}
{% endblock %}

{% block content %}
    <body>
        <div class='center-content'>
            <form action="/coord_committeeslist/delete/" method="POST">
                {% csrf_token %}
                
                {# Translators: Button to add committees #}
                <a role="button" class="btn btn-success" href='/coord_committeeslist/add'>{% trans "Add Committee" %}</a>
                {# Translators: Button to delete selected committees #}
                <button class="btn btn-danger pull-right" type="submit" name="delete">{% trans "Delete committee(s)" %}</button>
                
                
                <table class="table table-bordered table-striped table-hover" align="center">
                    <tr>
                        {# Translators: Select header in committees table #}
                        <th class="select-column"><input type="checkbox" onClick="toggle(this);"/></th>
                        {# Translators: Committee name header in committees table #}
                        <th>{% trans "Committee" %}</th>
                        {# Translators: Committee adjudicators header in committees table #}
                        <th>{% trans "Adjudicators" %}</th>
                        {# Translators: Committee awards header in committees table #}
                        <th>{% trans "Awards" %}</th>
                        {# Translators: Award edit header in awards table #}
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Final Review" %}</th>
                        <th>{% trans "Export Review" %}</th>
                    </tr>
                    {% for committee in committees_list %}
                        <tr>
                            <td><input type="checkbox"  name="instance" value="{{committee.committeeid}}" > </td>
                            <td>{{committee.committee_name }}</td>
                            <td>{% for adjudicator in committee.adjudicators.all %}
                                    {{adjudicator.get_name}} <br>
                                {% endfor %}</td>
                            <td>{% for award in committee.awards.all %}
                                    {{award}} <br>
                                {% endfor %}</td>
                            {# Translators: Edit button in coordinator committees list #}
                            <td><a href="/coord_committeeslist/{{ committee.committeeid }}/">{% trans "Edit" %}</a></td>
                            <td><a href="{% url 'coord_committeereview' committee_id=committee.committeeid %}">{% trans "View" %}</a></td>
                            <td><a href="{% url 'coordinator_export_final_review' committee_id=committee.committeeid%}">{% trans "Export" %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {# Translators: Button to add committees #}
                <a role="button" class="btn btn-success" href='/coord_committeeslist/add'>{% trans "Add Committee" %}</a>
                {# Translators: Button to delete selected committees #}
                <button class="btn btn-danger pull-right" type="submit" name="delete">{% trans "Delete committee(s)" %}</button>
            </form>

        </div>
    </body>
{% endblock %}