{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A page for the coordinator to upload CSVs that are used to create students and populate them with GPAs #}
{% block heading %}
    {# Translators: Student upload page heading #}
    {% trans "Upload" %}
{% endblock %}

{% block content %}
    <div class='center-content'>

        <a class="btn btn-success" role="button" href="/students/">{% trans "Return to Students" %}</a>
        <br><br>

        <form action='{{ url }}' method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {% if field.label %}
                        {{field.label_tag}}<br>
                    {% endif %}
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                    {% if field.errors %}class='has-error'{% endif %}
                    {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
                <br>
            {% endfor %}
            <br>

            {# Save button #}
            <button class='btn btn-success' type='submit'>{% trans "Save" %}</button>
        </form>
    </div>
{% endblock %}