{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{% block heading %}
    {# Translators: Student upload page heading #}
    {% trans "Upload" %}
{% endblock %}

{% block content %}
    <div class='center-content'>
    <form action='{{ url }}' method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <div>
                {% if field.label %}
                    {{field.label_tag}}
                {% endif %}
            </div>
            <div {% if field.errors %}class='has-error'{% endif %}>
                {{ field }}
            </div>
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <br/>
    {# Save button #}
    <button class='btn btn-success' type='submit'>{% trans "Save" %}</button>
</form>
</div>
{% endblock %}