{% extends "FSJ/base.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# The login page does not need hyperlinks for navigation since the user is not authenticated #}
{# Use a form with POST to allow logging in with valid credentials #}
{% block heading %}
    {# Translators: Login page heading #}
    {% trans "Login" %}
{% endblock %}

{% block content %}
    <div class="center-content">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <div>
                        {% if field.label %}
                            {{field.label_tag}}
                        {% endif %}
                    </div>
                    <div {% if field.errors %}class='has-error'{% endif %}>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
            {% endfor %}
            <br/>
            {# Translators: Login button label #}
            <button class="btn btn-success" type="submit">{% trans "Login" %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        {# Translators: Register button label #}
        <form method="link" action="{% url 'reset_password' %}">
            <button class="btn btn-success" type="submit"> {% trans "Register" %} </button>
        </form>
        {# Translators: Forgot_Password button label #}
        <form method="link" action="{% url 'reset_password' %}">
            <button class="btn btn-danger" type="submit"> {% trans "Forgot Password" %} </button>
        </form>
    </div>
{% endblock %}