{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# Extend the base template that includes banner to represent a standard home page. #}
{# This home page is likely to be removed and replaced with specific pages based on user class once the default landing page is confirmed #}
{% block heading %}
    {# Translators: Home page home label #}
    {% trans "Home" %}
{% endblock %}

{% block content %}
    <div class="center-content">
        {# Translators: Non FSJ User home greeting #}
        {% trans "Your account has not been set up as a Student, Coordinator, or Adjudicator." %}
        {% trans "Please contact the Coordinator or system administrator to be set up." %}
    </div>
{% endblock %}