{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# Anyone who has a user but not an FSJUser account is redirected here #}
{% block heading %}
    {# Translators: Home page home label #}
    {% trans "Home" %}
{% endblock %}

{% block content %}
    <div class="center-content">
        {# Translators: Non FSJ User home greeting #}
        {% trans "Your account has not been set up as a Student, Coordinator, or Adjudicator." %}
        {% trans "Please contact the Coordinator or system administrator to be set up." %}
        {% trans "You can log out from " %} <a href="/logout/"> {% trans "here" %} </a>
    </div>
{% endblock %}