{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A standardized "my profile" across all user types which displays all of their form fields with some being disabled #}
{# Also the same template used by the Coordinator to edit the profile of other users, but with the respective fields that were disabled being enabled #}
{% block heading %}
    {# Translators: Profile page heading #}
    {% trans "Profile" %}
{% endblock %}

{% block content %}
    <div class='center-content'>
        {% include 'FSJ/modelform.html' with form=form url=url return_url=return_url%}
    </div>
{% endblock %}