{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A standardized page for viewing the fields of an individual program #}
{# This page is also used to edit programs, it is up to the form to disable/enable views #}
{% block heading %}
    {% if program_code %}
        {# Translators: Edit program page heading #}
        {% trans "Edit Program" %}
    {% else %}
        {# Translators: Add program page heading #}
        {% trans "Add Program" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class='center-content'>
        {% include 'FSJ/modelform.html' with form=form url=url return_url=return_url %}
    </div>
{% endblock %}