{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

<div>
    {% trans "Please note:" %}<br>
    <div>
        <ul>
            <b>
                <li>{% trans "Students starting their 2nd, 3rd, 4th or 5th year of study must have obtained at least 24 credits in the academic year before the year in which the award is paid out." %}</li>
                <li>{% trans "Letters of presentation or of recommendation must be no more than one year old." %}</li>
                <li>{% trans "The availability of awards and the amount of money offered for them can vary without notice." %}</li>
                <li>{% trans "Only candidates who have won an award will be contacted." %}</li>
                <li>{% trans "All documents required for awards must be submitted as a single PDF." %}</li>
                <br>
            </b>
        </ul>
    </div>
</div>