{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A trial Application form #}
{% block heading %}
    {{ award.award_name }}
{% endblock %}

{% block content %}
    <br/>
    <div>
    Description: {{ award.description}} 
    </div>
    <div>
    Value: {{ award.value }}
    </div>
    <div>
    Programs: {{ award.programs }}
    </div>
    <div>
    Years Of Study: {{ award.years_of_study }}
    </div>
    <div>
    Deadline: {{ award.deadline }}
    </div>
    <div>
    Documents Needed: {{ award.documents_needed }}
    </div>
    <div>
    <form action='{{ context.url }}' method='post'>
        {% csrf_token %}
        {# Submit button on application #}
        <input type='submit' value={% trans "Submit" %}>
    </form>
    </div>
{% endblock %}