{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A page for students to view awards for which they can apply #}
{% block heading %}
    {# Translators: Awards page home label #}
    {% trans "Awards" %}
{% endblock %}

{% block content %}
<body>
    <div class='center-content'>
        <table class="table table-bordered table-striped table-hover" align = "center">
            <tr>
                {# Translators: Award name header in awards table #}
                <th>{% trans "Award" %}</th>
                {# Translators: Award description header in awards table #}
                <th class="desc-column">{% trans "Description" %}</th>
                {# Translators: Award value header in awards table #}
                <th>{% trans "Value" %}</th>
                {# Translators: Award years of study header in awards table #}
                <th>{% trans "Years of Study" %}</th>
                {# Translators: Award start date header in awards table #}
                <th>{% trans "Start date" %}</th>
                {# Translators: Award end date header in awards table #}
                <th>{% trans "End date" %}</th>
                {# Translators: Apply button header in awards table #}
                <th>{% trans "Action" %}</th>
            </tr>
            <tr><th class="alternate-table-heading" colspan=9>{% trans "New awards" %}</th></tr>
            {% if awards_list %}
                {% for award in awards_list %}
                    <tr>
                        <td>{{award.name }}</td>
                        <td>{{award.description|linebreaks}}</td>
                        <td>{{award.value}}</td>
                        <td>
                            {% for year in award.years_of_study.all %}
                                {{year}} <br>
                            {% endfor %}
                        </td>
                        <td class='date-column'>{{award.start_date|date:"Y-m-d"}}</td>
                        <td class='date-column'>{{award.end_date|date:"Y-m-d"}}</td>
                        {# Translators: Apply button in award table #}
                        <td><a href="/awards/apply/?award_id={{ award.awardid }}">{% trans "Apply" %}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=9>{% trans "No new awards" %}</td></tr>
            {% endif %}
            <tr><th class="alternate-table-heading" colspan=9>{% trans "In-progress awards" %}</th></tr>
            {% if in_progress_list %}
                {% for award in in_progress_list %}
                    <tr>
                        <td>{{award.name }}</td>
                        <td>{{award.description|linebreaks}}</td>
                        <td>{{award.value}}</td>
                        <td>
                            {% for year in award.years_of_study.all %}
                                {{year}} <br>
                            {% endfor %}
                        </td>
                        <td class='date-column'>{{award.start_date|date:"Y-m-d"}}</td>
                        <td class='date-column'>{{award.end_date|date:"Y-m-d"}}</td>
                        {# Translators: Edit application button in student award table #}
                        <td><a href="/awards/edit/?award_id={{ award.awardid }}">{% trans "Edit" %}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=9>{% trans "No in-progress awards" %}</td></tr>
            {% endif %}
            <tr><th class="alternate-table-heading" colspan=9>{% trans "Submitted awards" %}</th></tr>
            {% if submitted_list %}
                {% for award in submitted_list %}
                    <tr>
                        <td>{{award.name }}</td>
                        <td>{{award.description|linebreaks}}</td>
                        <td>{{award.value}}</td>
                        <td>
                            {% for year in award.years_of_study.all %}
                                {{year}} <br>
                            {% endfor %}
                        </td>
                        <td class='date-column'>{{award.start_date|date:"Y-m-d"}}</td>
                        <td class='date-column'>{{award.end_date|date:"Y-m-d"}}</td>
                        {# Translators: Unsubmit application button in student award table #}
                        <td><a href="/awards/unsubmit/?award_id={{ award.awardid }}">{% trans "Unsubmit" %}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=9>{% trans "No submitted awards" %}</td></tr>
            {% endif %}
        </table>
    </div>

</body>
{% endblock %}