{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{% block heading %}
    {# Translators: View Application page heading #}
    {% trans "View Application for " %}{{award.award_name}}
{% endblock %}

{% block content %}
    <div class='center-content'>
        <div>
            <h4><b>{% trans "Award Name:" %}</b></h4> 
            <div class=tab-text>{{ award.award_name }}</div>
        </div>
        <div>
            <h4><b>{% trans "Award Description:" %}</b></h4>
            <div class=tab-text>{{ award.description|linebreaks }}</div>
        </div>
        <div>
            <h4><b>{% trans "Award Value:" %}</b></h4>
            <div class=tab-text>{{ award.value }}</div>
        </div>
        <div>
            <h4><b>{% trans "Award Program(s):" %}</b></h4>
            {% if award.programs.all %}
                <ul>
                    {% for p in award.programs.all %}
                        <li><div class=li-font18>{{ p }}</div></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <h4><b>{% trans "Award Year(s):" %}</b></h4>
            {% if award.years_of_study.all %}
                <ul>
                    {% for y in award.years_of_study.all %}
                        <li><div class=li-font18>{{ y }}</div></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <hr style="widtch:100%; height:2px; background-color: #FFDB05;" />
        <div>
            <h4><b>{% trans "Student Name:" %}</b></h4>
            <div class=tab-text>{{ student.get_name }}</div>
        </div>
        <div>
            <h4><b>{% trans "Program:" %}</b></h4>
            <div class=tab-text>{% if student.program %}{{ student.program }}{% endif %}</div>
        </div>
        <div>
            <h4><b>{% trans "Student ID:" %}</b></h4>
            <div class=tab-text>{{ student.student_id }}</div>
        </div>
        <div>
            <h4><b>{% trans "Year:" %}</b></h4>
            <div class=tab-text>{{ student.year }}</div>
        </div>
        <div>
            <h4><b>{% trans "GPA:" %}</b></h4>
            <div class=tab-text>{%if student.gpa %}{{ student.gpa }}{% endif %}</div>
        </div>
        {% if award.documents_needed %}
            <div>
                <h4><b>{% trans "Document:" %} </b></h4>
                {% if document %}
                    <object> <embed src="{{ document }}" width="100%" height="500px"> </object>
                {% else %}
                    {% trans "No document has been uploaded yet, but one is expected." %}
                {% endif %}
            </div>
        {% endif %}
        <br/>
        <form action='{{ url }}' method='post'>
            {% csrf_token %}
    
            {% if FSJ_user.user_class == "Coordinator" %}

                {% if comment_list %}
                    <table class="table table-bordered table-striped table-hover" align="center">
                        <tr>
                            <th>{% trans "Adjudicator" %}</th>
                            <th>{% trans "Comment" %}</th>
                            <th>{% trans "Ranking" %}</th>
                        </tr>
                        {% for comm in comment_list %}
                            <tr>
                                <td>{{ comm.0.adjudicator.ccid }}</td>
                                <td>{{ comm.0.comment_text }}</td>
                                <td>{{ comm.1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if not archived %}
                    <button class = "btn btn-success" type="submit" name="_review">{% trans "Mark reviewed" %}</button>
    
                    <button class = "btn btn-success" type="submit" name="_unreview">{% trans "Mark unreviewed" %}</button> 
                {% endif %}
            {% endif %}
            {% if FSJ_user.user_class == "Adjudicator" %}
                {% for field in form %}
                    <div>
                        <div>
                            {% if field.label %}
                                {{field.label_tag}}
                            {% endif %}
                        </div>
                        <div {% if field.errors %}class='has-error'{% endif %}>
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}

                {% for field in form2 %}
                    <div>
                        <div>
                            {% if field.label %}
                                {{field.label_tag}}
                            {% endif %}
                        </div>
                        <div {% if field.errors %}class='has-error'{% endif %}>
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                <br/>
                {# Save button #}
                <button class='btn btn-success' type='submit'>{% trans "Application Reviewed" %}</button>
                {% if delete_url %}
                    <a class="btn btn-danger" role="button" href="{{ delete_url }}">{% trans "Delete comment & ranking" %}</a> 
                {% endif %}
            {% endif %}
            <a class="btn btn-success" role="button" href="{{ return_url }}">{% trans "Return to Applications" %}</a> 
        </form>     
    </div>
{% endblock %}