{% extends "FSJ/base_with_banner.html" %}
{% load i18n %} {# NOTE YOU MUST LOAD i18n to every HTML page even though it's also loaded to base.html #}

{# A standardized page for viewing the fields of an individual award #}
{# This page is also used to edit years, it is up to the form to disable/enable views #}
{% block heading %}
	{% if year %}
        {# Translators: Edit year of study page heading #}
        {% trans "Edit Year" %}
    {% else %}
        {# Translators: Add year of study page heading #}
        {% trans "Add Year" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class='center-content'>
        {% include 'FSJ/modelform.html' with form=form url=url return_url=return_url %}
    </div>
{% endblock %}